<h1>Cadastre seu livro</h1>
<form action="/books/insertbook" method="POST">
    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" id="title" placeholder="Digite o título...">
    </div>
    <div class="form-control">
        <label for="pageqty">Páginas</label>
        <input type="number" name="pageqty" id="pageqty" placeholder="Digite o total de páginas...">
    </div>
    <input type="submit" value="Cadastrar!">
</form>
<a href="/books">Lista de Livros</a>