<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Teste</title>
</head>
<body>
    <div class="nav-bar">
        <ul>
            <li><a href="/">Ver todos</a></li>
            <li><a href="/">Adicionar</a></li>
        </ul>
    </div>
    {{{body}}}
</body>
</html>