<h1>Criação de Tasks</h1>

<form action="/tasks/add" method="post">
    <div class="section-form">
        <label for="title">Título: </label>
        <input type="text" name="title" id="title">
    </div>

    <div class="section-form">
        <label for="description"> Descrição: </label>
        <input type="text" name="description" id="description">
    </div>

    <input type="submit" value="Enviar">
</form>