<form action="/users/register" method="post">
    <div class="form-control">
        <label for="name">Nome: </label>
        <input type="text" name="name" id="name" placeholder="Digite seu Nome...">
    </div>
    <div class="form-control">
        <label for="job">Trabalho: </label>
        <input type="text" name="job" id="job" placeholder="Digite sua Profissão...">
    </div>
    <div class="form-control">
        <input type="checkbox" name="notification" id="notification" checked>
        <label for="notification">Receber notificação?</label>
    </div>
    <input type="submit" value="Cadastrar">
</form>