
<h1>Cadastre aqui</h1>

<form action="/cadastrar" method="post">
    <div class="input-form">
        <label for="name">Nome: </label>
        <input type="text" name="name" id="name">
    </div>
    <div class="input-form">
        <label for="email">Email: </label>
        <input type="text" name="email" id="email">
    </div>
    <div class="input-form">
        <label for="password">Senha: </label>
        <input type="text" name="password" id="password">
    </div>
    <input type="submit" value="Enviar">
</form>