<h1>Usuarios Cadastrados</h1>
<div class="section-user">
    {{#each user}}
    <a href="/users/edit/{{this.id}}">
        <div class="user-card">
            <h3>{{this.name}}</h3>
            <p>{{this.email}}</p>
            <p>{{this.password}}</p>
        </div>
    </a>
    {{/each}}
</div>