<h1>Cadastre o seu Cão</h1>
<div class="formulario">
    <form action="/meuscaes" method="POST">
        <div class="section-name">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome">
        </div>
        <div class="section-idade">
            <label for="idade">Idade:</label>
            <input type="number" name="idade" id="idade">
        </div>
    
        <div>
            <input class="enviar" type="submit" value="Cadastrar">
        </div>
    </form>
</div>
<p  class="links" ><a href="/caeslist">Meus Dogs</a></p>