<h1>Cadastre o seu Cão</h1>
<form action="/meuscaes" method="POST">
    <div>
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome">
    </div>
    <div>
        <label for="idade">Idade:</label>
        <input type="number" name="idade" id="idade">
    </div>
    
    <div>
        <input type="submit" value="Cadastrar">
    </div>
</form>