<h1>Usuarios cadastrados</h1>

<div class="users">
    {{#each user}}
        <div class="item">
            <p>{{this.name}}</p>
            <p>{{this.occupation}}</p>
        </div>
    {{/each}}
</div>