<form action="/user/update" method="post">
    <input type="hidden" name="id" value="{{user.id}}">
    <label for="name">Nome: </label>
    <input type="text" name="name" id="name" value="{{user.name}}">
    <label for="occupation">Profissão: </label>
    <input type="text" name="occupation" id="occupation" value="{{user.occupation}}">

    <input type="submit" value="Editar">
</form>

<div class="address-container">
    <h2>Endereço:</h2>
    <form action="/address/create" method="post">
        <input type="hidden" name="UserId" value="{{user.id}}">
        <div class="form-control">
            <label for="street">Rua: </label>
            <input type="text" name="street" id="street" placeholder="Digite a rua">
        </div>
        <div class="form-control">
            <label for="number">Número: </label>
            <input type="text" name="number" id="number" placeholder="Digite o número da residencia">
        </div>
        <div class="form-control">
            <label for="city">Cidade: </label>
            <input type="text" name="city" id="city" placeholder="Digite a cidade">
        </div>
        <input type="submit" value="Incluir endereço">
    </form>
</div>